<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.your_project_name">

    <!-- Permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Permission to access location (required for using Google Maps) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Declare your API key for Google Maps -->
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="Your App Name"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Your Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="8rE9XCNNU7GoAdJmnZuQ"/>

    </application>
</manifest>
